In [1]:
import pandas as pd
df=pd.read_csv(r"C:\Users\jihed\Desktop\جهاد\ذكاء اصطناعي مشروع\weather.csv")
df

            date  precipitation  temp_max  temp_min  wind weather
0     2012-01-02           10.9      10.6       2.8   4.5    rain
1     2012-01-03            0.8      11.7       7.2   2.3    rain
2     2012-01-04           20.3      12.2       5.6   4.7    rain
3     2012-01-05            1.3       8.9       2.8   6.1    rain
4     2012-01-06            2.5       4.4       2.2   2.2    rain
...          ...            ...       ...       ...   ...     ...
1302  2015-12-26            0.0       4.4       0.0   2.5     sun
1303  2015-12-27            8.6       4.4       1.7   2.9    rain
1304  2015-12-28            1.5       5.0       1.7   1.3    rain
1305  2015-12-30            0.0       5.6      -1.0   3.4     sun
1306  2015-12-31            0.0       5.6      -2.1   3.5     sun

[1307 rows x 6 columns]

In [2]:

df.groupby('weather').describe()

        precipitation                                                  \
                count      mean       std  min  25%   50%   75%   max
weather
rain            641.0  6.557878  8.647538  0.0  1.0  3.30   8.6  55.9
snow             26.0  8.553846  7.021523  0.3  3.6  5.45  13.5  23.9
sun             640.0  0.000000  0.000000  0.0  0.0  0.00   0.0   0.0

        temp_max             ... temp_min         wind                      \
           count       mean  ...      75%   max  count      mean       std
weather                      ...
rain       641.0  13.454602  ...   10.000  18.3  641.0  3.669891  1.586126
snow        26.0   5.573077  ...    0.975   5.6   26.0  4.411538  1.440369
sun        640.0  19.861875  ...   13.900  18.3  640.0  2.956406  1.164077


         min    25%   50%  75%  max
weather
rain     0.5  2.500  3.40  4.7  9.5
snow     1.6  3.475  4.95  5.3  7.0
sun      0.4  2.200  2.80  3.6  7.7

[3 rows x 32 columns]

In [3]:

from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df['weather']=le.fit_transform(df['weather'])

In [4]:

from sklearn.model_selection import train_test_split
x = df[['temp_min', 'temp_max', 'precipitation', 'wind']]
y=df['weather']
X_train, X_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

In [5]:

from sklearn.svm import SVC


nb_model = SVC()
nb_model.fit(X_train, y_train)

y_pred = nb_model.predict(X_test)

In [6]:

from sklearn.metrics import confusion_matrix
conf_matrix = confusion_matrix(y_test, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

Confusion Matrix:
[[106   0  27]
 [  2   0   0]
 [  7   0 120]]

In [9]:
from sklearn.metrics import accuracy_score
accuracy=accuracy_score(y_test, y_pred)
print("accuracy score :")
print(accuracy)

accuracy score :
0.8625954198473282

In [7]:

from sklearn.metrics import classification_report
classification_rep = classification_report(y_test, y_pred, zero_division=1)
print("Classification Report:")
print(classification_rep)

Classification Report:
              precision    recall  f1-score   support

           0       0.92      0.80      0.85       133
           1       1.00      0.00      0.00         2
           2       0.82      0.94      0.88       127

    accuracy                           0.86       262
   macro avg       0.91      0.58      0.58       262
weighted avg       0.87      0.86      0.86       262

In [8]:

# إنشاء بيانات افتراضية جديدة
new_data = {
    'temp_min': [5.0, 2.3, -1.1, 0.6, 3.4, 13.3],
    'temp_max': [12.8, 7.2, 6.1, 4.4, 9.4, 18.9],
    'precipitation': [0.0, 10.9, 0.8, 4.1, 4.3, 0.0],
    'wind': [4.7, 2.3, 5.1, 5.3, 3.4, 2.4]
}
# إنشاء بيانات افتراضية جديدة
new_data_single = {
    'temp_min': [5.0],
    'temp_max': [12.8],
    'precipitation': [0.0],
    'wind': [4.7]
}

df_new = pd.DataFrame(new_data)

# اختبار النموذج على البيانات الجديدة
y_new_pred = nb_model.predict(df_new)

# عرض النتائج
print("Predictions for new data:")
print(y_new_pred)

Predictions for new data:
[2 0 2 0 0 2]